.App {
    font-family: sans-serif;
    text-align: center;
  }
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  body {
    background: linear-gradient(45deg, #a7f3d0, #f3f4f6);
    /* background-repeat: no-repeat; */
    overflow: hidden;
  }
  html,
  body {
    height: 100%;

    color: #60a5fa;
  }
  .thickness {
    /* border-radius: 50%; */
    height: 1rem;
    background: black;
  }
  .container {
    margin-left: 10%;
    width: fit-content;
  }

  input {
    background: transparent;
    border: none;
    margin-bottom: 4vmin;
    /* border: 2px solid #a7f3d0; */
    border-radius: 2rem;
    margin-left: 2vmin;
  }
  button {
    background: transparent;
    border: none;
    margin-bottom: 4vmin;
    border: 2px solid #a7f3d0;
    border-radius: 2rem;
    margin-left: 2vmin;
    padding: 2vmin 2rem;
  }
